@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Font Family */

  /* Text Sizes and Line Heights */
  --text-display-3xl: 3.75rem;
  --text-display-3xl--line-height: 4.5rem;

  --text-display-2xl: 3rem;
  --text-display-2xl--line-height: 3.75rem;
  --text-display-2xl--letter-spacing: -2%;

  --text-display-xl: 2.5rem;
  --text-display-xl--line-height: 3rem;
  --text-display-xl--letter-spacing: -2%;

  --text-display-lg: 2.25rem;
  --text-display-lg--line-height: 2.75rem;
  --text-display-lg--letter-spacing: -2%;

  --text-display-md: 2rem;
  --text-display-md--line-height: 2.5rem;

  --text-display-sm: 1.75rem;
  --text-display-sm--line-height: 2.375rem;

  --text-display-xs: 1.5rem;
  --text-display-xs--line-height: 2.25rem;

  --text-xl: 1.25rem;
  --text-xl--line-height: 2.125rem;

  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;

  --text-md: 1rem;
  --text-md--line-height: 1.875rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.75rem;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5rem;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Color Theme */
  --color-neutral-100: #ffffff;
  --color-neutral-200: #b5b5b5;
  --color-neutral-300: #545357;
  --color-neutral-400: #242424;
  --color-neutral-500: #0f0f0f;
  --color-neutral-600: #020203;
  --color-primary-100: #d3bbfa;
  --color-primary-200: #8144df;
  --color-primary-300: #632abb;
  --color-secondary-100: rgba(220, 73, 166, 0.4);
  --color-secondary-200: #dc49a6;
  --color-secondary-300: #b83387;

  --color-primary-400: #8746eb;
  --color-gradient-secondary: linear-gradient(
    270deg,
    var(--color-primary-200) 0%,
    var(--color-secondary-200) 100%
  );
  --shadow-secondary: 0px 4px 24px 0px rgba(135, 70, 235, 0.32);
}

@theme inline {
  --font-poppins: var(--font-poppins), sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --spacing-225: 14.063rem;
  --spacing-273: 17.063rem;
  --spacing-385: 24.063rem;
  --spacing-457: 28.563rem;
  --spacing-459: 28.688rem;
  --spacing-515: 32.188rem;
  --spacing-587: 36.688rem;
  --spacing-693: 43.313rem;
  --spacing-765: 47.813rem;
  --spacing-957: 59.813rem;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .glow {
    @apply rounded-2xl backdrop-blur-[116px];
    /*background: radial-gradient(
      circle at center,
      rgba(104, 49, 225, 0.6) 0%,
      rgba(104, 49, 225, 0.2) 40%,
      rgba(104, 49, 225, 0.0) 80%*/
  }

  .btn-gradient {
    @apply text-neutral-100 bg-[linear-gradient(270deg,#8746EB_0%,#DC49A6_100%)] shadow-[0px_4px_24px_0px_#8746EB52] px-6 py-2 rounded-full font-medium transition-all duration-300;
  }

  .btn-gradient:hover {
    @apply opacity-50 cursor-pointer;
  }

  .btn-gradient:active {
    @apply opacity-80 translate-y-0;
  }

  .outline-gradient {
    @apply relative text-white px-6 py-2 rounded-full font-medium transition-all duration-300 border border-transparent;
  }

  .outline-gradient::before {
    content: '';
    @apply absolute inset-0 rounded-full p-0.5;
    background: var(--color-gradient-secondary);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .outline-gradient:hover {
    @apply opacity-60 cursor-pointer;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent;
    background-image: var(--color-gradient-secondary);
  }

  .color-gradient {
    @apply text-neutral-100 bg-[linear-gradient(270deg,#8746EB_0%,#DC49A6_100%)] shadow-[0px_4px_24px_0px_#8746EB52] px-6 py-2 rounded-full font-medium transition-all duration-300;
  }

  .contact-border-gradient {
    @apply border-0 border-solid;
    border-image-source: linear-gradient(
      180deg,
      #262626 0%,
      rgba(38, 38, 38, 0) 100%
    );
    border-image-slice: 1;
    border-image-repeat: stretch;
  }

  .glass {
    @apply bg-white/5 shadow-lg;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }

  .glass-gradient {
    @apply border-0 border-solid bg-white/5 shadow-lg;
    border-image-source: linear-gradient(
      180deg,
      #262626 0%,
      rgba(38, 38, 38, 0) 100%
    );
    border-image-slice: 1;
    border-image-repeat: stretch;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }

  .about-card {
    @apply w-273 h-273 p-5 gap-2 border rounded-full;
  }

  .about-card:nth-child(even) {
    @apply bg-[linear-gradient(270deg,#8746EB_0%,#DC49A6_100%)] shadow-[0px_4px_24px_0px_#8746EB52];
  }

  .line {
    @apply w-2 border-0 bg-[linear-gradient(0deg,#8746EB_0%,#DC49A6_100%)] shadow-[0px_4px_24px_0px_#8746EB52] rounded-2xl;
  }

  .line-circle {
    @apply w-2 h-2 border-0 bg-[linear-gradient(270deg,#8746EB_0%,#DC49A6_100%)] shadow-[0px_4px_24px_0px_#8746EB52] rounded-full;
  }

  .skill-bar-gradient {
    @apply h-3 border-0 bg-[linear-gradient(270deg,#8746EB_0%,#DC49A6_100%)] shadow-[0px_4px_24px_0px_#8746EB52] rounded-full;
  }

  .skill-card {
    @apply w-40.5 h-20 p-2.5 gap-2.5 border bg-black/40 rounded-2xl backdrop-blur-md border-transparent bg-clip-padding;
    border-image: linear-gradient(450deg, #d946ef, #6366f1) 1;
  }

  .testimonials-card {
    @apply w-125 p-5 gap-5 border-0 bg-neutral-500 rounded-2xl;
  }

  .testimonials-card:hover {
    @apply border rounded-2xl cursor-pointer;
    border-image-source: linear-gradient(270deg, #8746eb 0%, #dc49a6 100%);
    border-image-slice: 1;
    border-image-repeat: stretch;
  }
}
